p{
    font-size: 15px;
}

.summary>li{
    margin-top:10px;
}
.book-summary ul.summary li a, .book-summary ul.summary li span{
    padding: 5px 15px;
}
.markdown-section pre {
    border-radius: 5px;
    border: solid 1px #eee;
    background: #f0fbf6;
}
.markdown-section pre>code{
    font-size: 14px;
    
}
.markdown-section blockquote{
    color: #666;
    border-left: 4px solid #88c3ec
}

.markdown-section .toc{
    display: inline-block;
    max-width: 80px;
    position: fixed;
    right: 20px;
    top: 50px;
    z-index: 1000;
    background-color: #fff;
    border: #ccc 1px solid;
    padding: 10px;
    font-size: 13px;
    opacity: .3;
    transition: all .2s;
    overflow: hidden;
}
.markdown-section .toc:hover{
    opacity: 1;
    max-width: 400px;
}
.markdown-section .toc li{
    list-style: none;
    white-space: nowrap;
}
.markdown-section .toc .toggle{
    display: none;
}

.book .book-summary .exc-trigger{
    top: 7px;
}
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-comment, .book .book-body .page-wrapper .page-inner section.normal code .hljs-comment {
    color: #ab1111;
}
